h1 {
    text-align: center;
    color: var(--blue-text);
    font-size: 3rem;
}
body {
    font-family: "Instrument Sans", sans-serif;
    background-color: #CBD8F4;
    --blue-text: #467BCB;
}
div {
    color: var(--blue-text);
    text-align: center;
    font-size: 2rem;
}
#board {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-collapse: collapse;
}

.row {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5px;
}

.cell {
    width: 10rem;
    height: 10rem;
    border: 0.5rem solid var(--blue-text); /* Ensure a solid black border */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell img {
    width: 10rem;
    height: 10rem;
}
#who-starts {
    margin-top: 3rem;
}

